.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.typing-animation {
  font-size: 48px;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  border-right: .15em solid white;
  animation: typing 3s steps(30, end),
             blink-caret .75s step-end infinite;
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes blink-caret {
  0%, 100% {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: fadeIn 1s ease-in 4s forwards;
}

.centered-button {
  background-color: #b362ffff;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  margin: 0 10px;
  transition: transform 0.3s;
}

.centered-button:hover {
  transform: scale(1.1);
  background-color: #2d2b55;
}