:root {
  --light-color: #fbdb5c;
  --dark-color: #0c1117;
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: none;
}

.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.App.light {
  background-color: var(--light-color);
  color: var(--dark-color);
}

.App.dark {
  background-color: var(--dark-color);
  color: var(--light-color);
}

.cursor {
  width: 15px;
  height: 15px;
  background-color: currentColor;
  border: 2px solid;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999;
  position: absolute;
}

.App.light .cursor {
  color: var(--dark-color);
  border-color: var(--light-color);
}

.App.dark .cursor {
  color: var(--light-color);
  border-color: var(--dark-color);
}


.mode-switcher {
  position: fixed;
  top: 20px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  cursor: none;
  z-index: 1000;
  transition: color 0.5s ease-in-out;
  pointer-events: auto;
}

.mode-switcher.dark {
  color: var(--light-color);
}

.mode-switcher.light {
  color: var(--dark-color);
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  opacity: 0;
  animation: fadeIn 1s ease-in 2s forwards;
  pointer-events: none;
}

.App-header h1 {
  margin-top: 0;
  margin-bottom: 0em;
  opacity: 0;
  animation: fadeIn 1s ease-in 1s forwards;
}

.App-header h2 {
  font-size: 25px;
  margin-top: 0em;
  margin-bottom: 0.5em;
  opacity: 0;
  animation: fadeIn 1s ease-in 4s forwards;
}

.App-header h1, .App-header h2 {
  background-color: var(--dark-color);
  padding: 10px;
  border-radius: 5px;
}

.App.light .App-header h1,
.App.light .App-header h2,
.App.light .centered-button {
  background-color: rgba(251, 219, 92, 0.6);
  padding: 10px;
  border-radius: 5px;
}

.App.dark .App-header h1,
.App.dark .App-header h2,
.App.dark .centered-button {
  background-color: rgba(12, 17, 23, 0.6);
  padding: 10px;
  border-radius: 5px;
}

.profile-pic {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  margin-bottom: 5px;
  opacity: 0;
  animation: fadeIn 1s ease-in 1s forwards;
}

.App.light .profile-pic {
  border: 3px solid var(--dark-color);
}

.App.dark .profile-pic {
  border: 3px solid var(--light-color);
  background-color: var(--dark-color);
}

.loader, .particles {
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  display: flex; 
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.loader.visible, .particles.visible {
  opacity: 1;
}

.loader.hidden, .particles.hidden {
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: fadeIn 1s ease-in 3s forwards;
  flex-wrap: wrap;
}

.centered-button {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  cursor: none;
  border-radius: 5px;
  margin: 0 10px;
  transition: all 0.5s ease-in-out;
  font-weight: bold;
  pointer-events: auto;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  height: 50px;
}

.App.light .centered-button {
  background-color: var(--dark-color);
  color: var(--light-color);
}

.App.dark .centered-button {
  background-color: var(--light-color);
  color: var(--dark-color);
}

.centered-button:hover {
  transform: scale(1.1) translateY(-5px);
}

.App.light .centered-button:hover {
  background-color: #000;
}

.App.dark .centered-button:hover {
  background-color: #FFF;
}

.centered-button:active {
  transform: scale(1.1) translateY(-2px);
}

@media only screen and (max-width: 600px) {
  .profile-pic {
    width: 150px;
    height: 150px;
  }

  .centered-button {
    padding: 10px 20px;
    font-size: 14px;
    margin: 5px 10px;
  }
}

@media only screen and (max-width: 400px) {
  .profile-pic {
    width: 150px;
    height: 150px;
  }

  .centered-button {
    padding: 8px 16px;
    font-size: 14px;
    margin: 5px 10px;
  }
}

.watermark {
  position: fixed;
  bottom: 10px;
  left: 10px;
  opacity: 1;
  font-size: 10px;
  color: #000;
  z-index: 1000;
}

.watermark.light {
  color: var(--light-color);
  background-color: rgba(12, 17, 23, 0.6);
}

.watermark.dark {
  color: var(--dark-color);
  background-color: rgba(251, 219, 92, 0.6);
}

